@media (max-width: 768px){
    #main-section{
        height: 440px;
    }
    #main-section::before{
        height: 570px;
    }
    /* 
        Setting the navigation elements as block elements to avoid collision between elements
    */
    #center-nav ul{
        grid-template-columns: repeat(3, auto);
        grid-row-gap: 20px;
        height: 120px;
    }

    #center-nav{
        height: 130px;
    }

    /* 
        Reducing size of quote to fit the navigation bar in its right place
    */
    #quote{
        font-size: 1.5em;
    }
    /* Setting the direction of Big Events to columns */
    #bigEvents{
        height: 1500px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .event{
        width: auto;
        height: 33%;
    }
}

@media (max-width: 554px){

    #main-section::before{
        height: 780px;
    }
    #center-nav{
        height: 330px;
    }
    #center-nav ul{
        grid-template-columns: repeat(1, auto);
        grid-row-gap: 30px;
    }
}