/*
    ===================    Global declarations and attributes   ==========================
*/

/* 
    FONTS available through external links:
    
    font-family: 'Carter One', cursive;
    font-family: 'Passion One', cursive;
*/



*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: black;
}
/* 
    ==========================    Main Section      =====================================
*/
#main-section{
    height: 30rem;
    width: 100%;
    display: flex;
    justify-content: center;
}

/* Using the ::before pseudo selector, 
   I applied a background image to the first section here 
*/
#main-section::before{
    content: "";
    background: url("../photos/dhoni\ back\ bw.jpg") no-repeat center center/cover;
    position: absolute;
    height: 35rem;
    width: 100%;
    opacity: 0.8;
    z-index: -2;
}

/* The Quote uses an external font-family.
   It also shows some words as highlighted, so they're in a separate class .higl 
 */
 #quote{
     color: rgba(255, 255, 255, 0.776);
     font-family: 'Passion One', cursive;
     font-size: 3rem;
     margin-top: 5%;
 }
 .higl{
     color: rgba(0, 128, 255, 0.68);
 }


 /* 
    ================================= Navigation Bar ===============================
 */

 /* Adjusting the position of the contents of the navbar by setting the display as flex */
#center-nav{
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
#center-nav::before{
    content: "";
    background: rgba(0, 0, 0, 0.646);
    height: 5rem;
    width: 100%;
    position: absolute;
    z-index: -2;
}

#center-nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
}

#center-nav ul li{
    list-style-type: none;
}
#center-nav ul li a{
    color: white;
    text-decoration: none;
    font-family: 'Carter One', cursive;
    margin: 10px 20px;
    padding: 10px 5px;
    border: 1px solid transparent;
    transition: all 0.4s ease-out 0s; 
}
#center-nav ul li a:hover{
    color: rgba(0, 128, 255, 0.68);
    border-bottom: 1px solid rgba(0, 128, 255, 0.68);
}

/* 
    =================== Second Section: Biggest Achievements =========================
*/
#bigEvents{
    height: 30rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

/* Each individual event is contained in a box having class .event
    Each event contains a background image and a quote from that event
 */
.event{
     width: 33%;
     height: 90%;
     border: 2px solid white;
     border-radius: 10px;
     margin: 10px 30px;
}


/* 
    =========================== Footer =========================================
*/
#foot{
    height: 2rem;
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
}
#foot a{
    text-decoration: none;
    color: black;
}
#foot a:hover{
    text-decoration: underline;
}